<!--l ink type="text/x-gettext-translation" href="/Components/Gallery/locale/ru/Gallery.po" id="Gallery"/-->
<link rel="stylesheet" type="text/css" href="/less.php/Components/Gallery/assets/less/admin.less" media="all">

<div class="page-header">
    <div class="row">
        <div class="col-span-3">
            <h2>{{'Gallery'|translate:'Gallery'}}</h2>
        </div>
        <div class="col-span-9">
            <div ng-show="album.id" style="display: none" class="btn-toolbar">
                <div class="btn-group fileupload fileupload-new">
                    <button class="btn btn-success btn-file" ng-class="{'active': show_uploads}" ng-click="show_uploads = !!!show_uploads">
                        <span class="fileupload-new"><span class="glyphicon glyphicon-upload"></span> {{'Upload file(s)'|translate:'Gallery'}}</span>
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn" ng-class="{ 'active btn-success': album.is_published && !album.is_hidden }"
                            ng-click="album.is_published = true; album.is_hidden = false; album.$save()">
                        {{'Published'|translate:'Gallery'}}
                    </button>
                    <button class="btn" ng-class="{ 'active btn-info': album.is_published && album.is_hidden }"
                            ng-click="album.is_published = true; album.is_hidden = true; album.$save()"><span
                            class="glyphicon glyphicon-eye-close"
                            ng-class="{ 'icon-white': album.is_published && album.is_hidden }"></span>
                        {{'Invisible'|translate:'Gallery'}}
                    </button>

                    <button class="btn" ng-class="{ 'active btn-danger': !album.is_published && !album.is_hidden }"
                            ng-click="album.is_published = false; album.is_hidden = false; album.$save()"><span
                            class="glyphicon glyphicon-remove"
                            ng-class="{ 'icon-white': !album.is_published && !album.is_hidden }"></span>
                        {{'Unpublished'|translate:'Gallery'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-span-3">
        <div class="sidebar-nav">
            <ul class="nav nav-pills nav-stacked nav-list nav-files albums-list">
                <li class="nav-header">
                    {{'Albums'|translate:'Gallery'}}
                </li>
                <li ng-repeat="item in albums" class="with-btn" ng-class="{active: item.id == album.id}">
                    <a class="pull-right btn btn-delete" placement="right" title="Deleting..."
                       href="javascript:;" bz-confirm="deleteAlbum(item);"
                       message="Are you sure you want to delete this album?"><span class="glyphicon glyphicon-trash"></span></a>
                    <a href="javascript:;" ng-click="showAlbum(item)">
                        <span ng-show="item.images_count > 0" class="pull-right label">{{item.images_count}}</span>
                        <span ng-show="item.is_hidden && item.is_published"
                              class="glyphicon glyphicon-eye-close"></span>
                        <span ng-show="!item.is_published"
                              class="glyphicon glyphicon-remove"></span>
                        <span class="title">{{item.title|language}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="add-new-item nav-new-album">
            <form name="newAlbum" novalidate ng-submit="createAlbum(nAlbum)">
                <div class="input-group col-span-12">
                    <input type="text" ng-model="nAlbum.title" maxlength="255" ng-disabled="nAlbum.busy" required
                           placeholder="New album"/>

                    <div class="input-group-btn">
                        <button ng-disabled="nAlbum.busy || newAlbum.$invalid" class="btn" title="Create new album" type="submit"
                                ng-disabled="nAlbum.busy">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--/.well -->
    </div>

    <div class="col-span-9" ng-hide="album.id">
        <p>Edit files
    </div>

    <div class="col-span-9" ng-show="album.id">

        <div class="alert alert-info" ng-show="album.is_published">
            Url of this album:&nbsp;<code><a target="_blank" href="{{album.url}}">{{album.url}}</a></code>
        </div>
        <div class="alert" ng-show="!album.is_published">
            <strong>Warning!</strong>
            {{'Publish album first'|translate:'Gallery'}}
        </div>

        <div class="gallery-container" loading-container="busy">

            <div class="well photo-uploader ng-cloak" ng-show="show_uploads">
                <p>Browse for files to upload or drag and drop them here</p>
                <input type="file" multiple bz-uploader="addImage(album, $file)" data-url="/rest.php/gallery/{{album.id}}/" data-max-file-size="100mb" ng-model="photos" accept="*.gif,*.png,*.jpg,*.jpeg" name="file1"/>
            </div>


            <ul infinite-scroll="nextPage()"
                infinite-scroll-disabled="album.images_count == 0 || photos.length == album.images_count"
                infinite-scroll-distance='0' ng-sortable="{update: update}" ng-model="photos">
                <li class="gallery-image" ng-repeat="photo in photos | orderBy:-order">
                    <div class="thumbnail">
                        <img ng-src="{{photo.image}}"/>
                        <strong>{{photo.title|language}}</strong>
                    </div>
                    <div class="actions">
                        <a title="" href="javascript:;" ng-click="editPhoto(photo)" class="tip-top"
                           data-original-title="Edit"><span
                                class="glyphicon glyphicon-pencil icon-white"></span></a>
                        <a title="Deleting..." href="javascript:;" bz-confirm="deletePhoto(photo);"
                           message="Are you sure you want to delete this image?"><span
                                class="glyphicon glyphicon-trash icon-white"></span></a>
                    </div>
                </li>
            </ul>

            <!--ul id="og-grid" class="og-grid">
                <li ng-repeat="photo in photos | orderBy:-order">
                    <a href="#!/gallery/?id={{album.id}}&photo_id={{photo.id}}" data-largesrc="{{photo.image}}" data-title="{{photo.title|language}}" data-description="{{photo.description|language}}">
                        <img ng-src="/thumb.php{{photo.image}}?w=200&h=160" />
                    </a>
                </li>
            </ul-->
            <a href="javascript:;" class="btn btn-block" ng-disabled="busy"
               ng-show="photos.length < album.images_count"
               ng-click="nextPage()">More...</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="locked" ng-show="photo">

    <div class="row">
        <div class="col-span-3 hidden-phone">
            <div class="locked-content">
                <a class="btn btn-primary pull-right close-edit" href="javascript:;" ng-click="photo = null">Close editing</a>
            </div>
        </div>

        <div class="col-span-9" loading-container="loading">
            <div class="modal-content locked-content" ng-include="includeFile"></div>
        </div>
    </div>


    <div class="backdrop"></div>
</div>