# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
build
tmp
installer.zip
config.php
node_modules
Framework/Vendors/*
assets/components/*
Framework/Vendors/*
assets/require.js
themes/default/assets/css/*
themes/default/assets/img/*
themes/default/assets/js/*
uploads/*
static/*
composer.lock
composer.phar
.svn
.idea

# mstest test results
TestResults
