# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
build
tmp
config.php
installer.zip
node_modules
assets/components/*
themes/default/assets/css/*
themes/default/assets/img/*
themes/default/assets/js/*
.svn
.idea

# mstest test results
TestResults
