<!-- link type="text/x-gettext-translation" href="/Components/Files/locale/ru/Files.po" id="Files" / -->
<link rel="stylesheet" type="text/css" href="/less.php/Components/Files/assets/less/elfinder.less" media="all">

<div class="page-header">
    <h2>{{'Files'|translate:'Files'}}</h2>
</div>
<div class="el-finder"
     url="/elfinder"
     toolbar="mkdir,mkfile,upload|open,download|info|copy,cut,paste|rename,rm|view|help"
     contextmenu-navbar="open,|,copy,cut,paste,|,rm,|,info"
     contextmenu-cwd="reload,back,|,upload,mkdir,mkfile,paste,|,info"
     contextmenu-files="open,download,|,copy,cut,paste,|,rm,edit,rename,|,info">
</div>