<strong>Grid</strong>

<div class="row">
    <div class="col-span-12">
        <span style="height: 12px;"></span>
    </div>
</div>
<div class="row">
    <div class="col-span-3">
        <span style="height: 30px;"></span>
    </div>
    <div class="col-span-6">
        <span style="height: 30px;"></span>
    </div>
    <div class="col-span-3">
        <span style="height: 30px;"></span>
    </div>
</div>
<div class="row">
    <div class="col-span-6">
        <span style="height: 30px;"></span>
    </div>
    <div class="col-span-2">
        <span style="height: 30px;"></span>
    </div>
    <div class="col-span-4">
        <span style="height: 30px;"></span>
    </div>
</div>
<div class="row">
    <div class="col-span-4">
        <span style="height: 50px;"></span>
    </div>
    <div class="col-span-4">
        <span style="height: 50px;"></span>
    </div>
    <div class="col-span-4">
        <span style="height: 50px;"></span>
    </div>
</div>
<div class="row">
    <div class="col-span-6">
        <span style="height: 30px;"></span>
    </div>
    <div class="col-span-3">
        <span style="height: 30px;"></span>
    </div>
    <div class="col-span-3">
        <span style="height: 30px;"></span>
    </div>
</div>
<div class="row">
    <div class="col-span-12 columns">
        <span style="height: 10px;"></span>
    </div>
</div>