<strong>Store</strong>

<div class="row">
    <div class="col-span-12">
        <span style="height: 13px;"></span>
    </div>
</div>
<div class="row">
    <div class="col-span-4">
        <div class="row">
            <div class="col-span-12">
                <span style="height: 50px;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-span-12">
                <span style="height: 20px;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-span-12">
                <span style="height: 12px;"></span>
            </div>
        </div>
    </div>
    <div class="col-span-8">
        <div class="row">
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
            <div class="col-span-3 col-offset-1">
                <span style="height: 35px;"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-span-12">
                <span style="height: 20px;"></span>
            </div>
        </div>
    </div>
</div>