<link rel="stylesheet" type="text/css" href="/less.php/Components/AdminPanel/assets/less/panel.less" />
<link rel="stylesheet" type="text/css" href="/App/Admin/assets/css/font-awesome.min.css" />

<div class="bz-admin" id="bz-admin-bar">
    <div id="adm-userpanel">
        <div class="bz-adminpanel-container">
            <!--div class="bz-user-block pull-right">
                <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                    <img src="http://placehold.it/20x25">
                    Admin
                    <span class="caret"></span>
                </a>
                <a class="" href="#">
                    <i class="icon-bell"></i>
                </a>
                <a class="" href="#">
                    <i class="icon-calendar"></i>
                </a>
                <a class="" href="#">
                    <i class="icon-envelope"></i>
                </a>
            </div-->
            <div>
                <a class="dashboard" href="/admin.php" onclick="javascript:location.href='/admin.php'"><span></span> Dashboard</a>
                <a ng-repeat="menuitem in menu" ng-click="menuitem.action()" href="">{{ menuitem.title }}</a>
            </div>
        </div>
    </div>
    
    <div id="cms_widgets_panel">
        <div class="cms_widget_panel-container" widgets="base">
            <div widget="{{item.id}}" data-id="{{item.id}}" ng-repeat="item in widgets" class="cms_widget_panel-widget">
                <div class="cms_widget-icon">
                    <!--i class="icon-picture icon-3x"></i-->
                </div>
                <div class="cms_widget-title">{{item.title|language}}</div>
                <!--div class="cms_widget-description">{{item.description|language}}</div-->
            </div>
        </div>
    </div>
    <div id="bz-admin-widget-settings" class="modal fade" ng-class="{'in': showSettings}">
        <div class="modal-dialog ng-scope" id="bz-widget_dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="showSettings = false" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Widget settings</h4>
                </div>
                <div class="modal-body" id="bz-widget_settings">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="saveSettings()">Save</button>
                    <button class="btn" ng-click="showSettings = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>