##
## Дана опція включається на продакшн-сервері, зазвичай, вона відключає вивід всіх помилок і т.д.
##
#SetEnv PRODUCTION true

# Profile xhprof
SetEnv XHPROF_HOST "errors.vn.ua/profiler"

##
## Ми працюєм тільки з UTF-8
##
AddDefaultCharset UTF-8

##
## Інколи і таке потрібно
##
AddType image/vnd.microsoft.icon .ico
AddType text/css .css
AddType text/xml .xml
AddType video/x-flv .flv
AddType "text/javascript;charset=UTF-8" .jgz .js

AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document     docx
AddType application/vnd.openxmlformats-officedocument.presentationml.presentation   pptx
AddType application/vnd.openxmlformats-officedocument.spreadsheetml.sheet           xlsx

AddEncoding gzip .gz

Options +IncludesNoExec -ExecCGI -Includes -Indexes +Followsymlinks

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
    php_flag magic_quotes_gpc                 off
    php_flag magic_quotes_sybase              off
    php_flag register_globals                 off
    php_flag session.auto_start               off
    php_value mbstring.http_input             pass
    php_value mbstring.http_output            pass
    php_flag mbstring.encoding_translation    off
    php_flag allow_call_time_pass_reference on

    #php_flag output_buffering on
    #php_value max_execution_time 3000

    #php_value upload_tmp_dir '/tmp/'
    #php_value upload_max_filesize '5M'
    #php_value post_max_size '6M'
    #php_value memory_limit '64M'

    php_value date.timezone Europe/Kiev
</IfModule>


##
## Забороняємо доступ до всіх файлів налаштувань, якщо сайт не в public
##
#<FilesMatch "\.(inc|xml|config)$">
#    Deny from all
#</FilesMatch>
##
## Окрім sitemap.xml
##
#<FilesMatch "^sitemap.xml$">
#    Allow from all
#</FilesMatch>

##
## Це щоб в нас не тирили код проекту, але ж всеодно він open source :)
##
#<DirectoryMatch "^/.*/\.svn/">
#    Order allow,deny
#    Deny from all
#    Satisfy All
#</DirectoryMatch>

##
## Enable pretty urls
##
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule .htaccess$ - [F]

    # Bot denied
    # Morfeus Fucking Scanner
    RewriteCond %{HTTP_USER_AGENT} ^Morfeus
    RewriteRule ^.*$ - [F]

    RewriteRule ((%3A|:)25|%0D%0A) - [G]
       
    # To redirect all users to access the site WITHOUT the 'www.' prefix,
    # (http://www.example.com/... will be redirected to http://example.com/...)
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_URI} ^(/uploads/|/static/|/assets/|/robots.txt|/favicon.ico|(.*)\.(js|css|png|jpg|gif))
    RewriteCond %{SCRIPT_FILENAME} -f [OR]
    RewriteCond %{SCRIPT_FILENAME} -l
    RewriteRule ^(.*)$ $1 [L]

    ## Show maintenance
    #RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1
    #RewriteCond %{REMOTE_ADDR} !^79\.143\.40\.179
    #RewriteCond %{REQUEST_URI} !^(/maintenance.html|/admin/|/index.php)$
    #RewriteRule ^(.*)$ /maintenance.html [L]

    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{DOCUMENT_ROOT}/sites/%{HTTP_HOST}%{REQUEST_URI} -f
    #RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/sites/%{HTTP_HOST}/$1 [L]

    RewriteCond %{ENV:REDIRECT_MYFLAG} ^$
    RewriteCond %{DOCUMENT_ROOT}/sites/%{HTTP_HOST}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/sites/%{HTTP_HOST}%{REQUEST_URI} -d
    RewriteRule ^(.*) sites/%{HTTP_HOST}%{REQUEST_URI} [E=MYFLAG:1,L]

    RewriteCond %{REQUEST_URI} ^(/static/)
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]

    # Rewrite for trailing slash (SEO friendly)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_METHOD} ^(GET)
    RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
    RewriteRule ^(.*)$ $1/ [L,QSA,R=301]

    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L]

    # Rules to correctly serve gzip compressed CSS and JS files.
    # Requires both mod_rewrite and mod_headers to be enabled.
    <IfModule mod_headers.c>
        # Serve gzip compressed CSS files if they exist and the client accepts gzip.
        RewriteCond %{HTTP:Accept-encoding} gzip
        RewriteCond %{REQUEST_FILENAME}\.gz -s
        RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

        # Serve gzip compressed JS files if they exist and the client accepts gzip.
        RewriteCond %{HTTP:Accept-encoding} gzip
        RewriteCond %{REQUEST_FILENAME}\.gz -s
        RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

        # Serve correct content types, and prevent mod_deflate double gzip.
        RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
        RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

        <FilesMatch "(\.js\.gz|\.css\.gz)$">
        # Serve correct encoding type.
        Header append Content-Encoding gzip
        # Force proxies to cache gzipped & non-gzipped css/js files separately.
        Header append Vary Accept-Encoding
        </FilesMatch>
    </IfModule>
</IfModule>

<IfModule mod_expires.c>
    # Enable expirations.
    ExpiresActive On

    # Cache all files for 2 weeks after access (A).
    ExpiresDefault A1209600

    <FilesMatch \.php$>
        ExpiresActive Off
    </FilesMatch>
</IfModule>

# Force the latest IE version, in various cases when it may fall back to IE7 mode
#  github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</IfModule>
