/*
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
.jstree.jstree-default ins, #vakata-dragged.jstree-default ins { width: 24px; height: 23px; float: left; }
.jstree-default li, 
.jstree-default ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-default li { background-position:-135px 0; background-repeat:repeat-y; }
.jstree-default li.jstree-last { background:transparent; }
.jstree-default .jstree-open > ins { background-position:-108px 0px; cursor: pointer; }
.jstree-default .jstree-closed > ins { background-position:-81px 0px; cursor: pointer; }
.jstree-default .jstree-leaf > ins { background-position:-54px 0px; }

.jstree-default.jstree .jstree-hovered { background: #ECF9FE; }
.jstree-default.jstree .jstree-clicked { background: #E4F2FD; }
.jstree-default a .jstree-icon { background-position:-84px -27px; }
.jstree-default a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-default .jstree-no-dots li, 
.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-27px 0; }
.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-default .jstree-no-icons a .jstree-icon { display:none;}
.jstree-default .jstree-search { font-style:italic; }
.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-57px -27px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-3px -27px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-30px -27px; }
.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-57px -54px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-3px -54px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-30px -54px; }
.jstree-default.jstree a {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 2px 6px;
    font-family: Verdana, Tahoma;
     -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}
.jstree-default.jstree li {
    display: block;
    line-height: 24px;
    margin-left: 24px;
    min-height: 24px;
    min-width: 24px;
    white-space: nowrap;
    position: relative;
}
.jstree-default.jstree > ul > li {
    margin-left: 0;
}
.jstree-default.jstree li div.overlay {
    height: 16px;
    left: 42px;
    position: absolute;
    top: 14px;
    width: 16px;
    /*z-index: 500;*/
}
.jstree-default.jstree li div.overlay-hidden
{
    background: no-repeat url(bullet_error.png);
}
.jstree-default.jstree li div.overlay-notpublish
{
    background: no-repeat url(bullet_delete.png);
}

.jstree-default input {
    font-size: 14px;
    height: 20px !important;
    line-height: 20px !important;
    padding: 3px 3px !important;
    font-family: Verdana, Tahoma;
}

#vakata-dragged.jstree-default { line-height: 26px; padding: 4px 4px 4px 32px; }
#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url("d.png") -2px -80px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url("d.png") -27px -82px no-repeat !important; }

#jstree-marker.jstree-default { background:url("d.png") -60px -89px no-repeat !important; text-indent:-100px; height: 22px; width: 15px; }
#jstree-marker-line.jstree-default { background-color: #57bf3d; width: 10px; }

.jstree-default a.jstree-search { color:aqua; }
.jstree-default .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-default-context ins { background-color: transparent; }
#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:black; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-default li, 
.jstree-default ins,
#vakata-dragged.jstree-default .jstree-invalid, 
#vakata-dragged.jstree-default .jstree-ok, 
#jstree-marker.jstree-default { _background-image:url("d.gif"); }
.jstree-default .jstree-open ins { _background-position:-72px 0; }
.jstree-default .jstree-closed ins { _background-position:-54px 0; }
.jstree-default .jstree-leaf ins { _background-position:-36px 0; }
.jstree-default a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-default-context ins { _display:none; }
#vakata-contextmenu.jstree-default-context li { _zoom:1; }
.jstree-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */