<div class="row">
    <div class="col-span-6"></div>
    <div class="col-span-6">
    
        <div class="panel">
          <div class="panel-heading">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a href="#box-config-modal" data-toggle="modal" title="config" class="btn btn-mini"><span class="glyphicon glyphicon-cog"></span></a>
                        <a title="toggle" class="btn btn-mini"><span class="glyphicon glyphicon-minus"></span></a>
                    </div>
                    <div class="btn-group">
                        <a title="close" class="btn btn-mini btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                </div>
                <small>Quick Shortcuts</small>
          </div>

            <div class="row quick-actions">
                <div class="col-span-2">
                    <a class="btn btn-block quick-action" ng-href="#!/news">
                        <span class="ico-edit ico-2x"></span>
                        <div>Новини</div>
                    </a>
                </div>
                <div class="col-span-2">
                    <a class="btn btn-block quick-action" ng-href="#!/gallery">
                        <span class="ico-picture ico-2x"></span>
                        <div>Галерея</div>
                    </a>
                </div>
                <div class="col-span-2">
                    <a class="btn btn-block quick-action" ng-href="#!/themes">
                        <span class="ico-leaf ico-2x"></span>
                        <div>Themes</div>
                    </a>
                </div>
                <div class="col-span-2">
                    <a class="btn btn-block quick-action" ng-href="#!/menu">
                        <span class="ico-reorder ico-2x"></span>
                        <div>Menu</div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
