span.ico-flags{display: inline-block; margin: 0 5px 0 0; }

.ico-flags{width:16px;height:11px;margin:0 auto;}
.ico-flags{background-image:url('../img/flags.png') !important;}

.ico-flags.ad{background-position:-16px -44px;}
.ico-flags.ae{background-position:-16px -55px;}
.ico-flags.af{background-position:-16px -66px;}
.ico-flags.ag{background-position:-16px -77px;}
.ico-flags.ai{background-position:-16px -99px;}
.ico-flags.al{background-position:-16px -132px;}
.ico-flags.am{background-position:-16px -143px;}
.ico-flags.an{background-position:-16px -154px;}
.ico-flags.ao{background-position:-16px -165px;}
.ico-flags.aq{background-position:-16px -187px;}
.ico-flags.ar{background-position:-16px -198px;}
.ico-flags.as{background-position:-16px -209px;}
.ico-flags.at{background-position:-16px -220px;}
.ico-flags.au{background-position:-16px -231px;}
.ico-flags.aw{background-position:-16px -253px;}
.ico-flags.ax{background-position:-16px -264px;}
.ico-flags.az{background-position:-16px -286px;}
.ico-flags.ba{background-position:-32px -11px;}
.ico-flags.bb{background-position:-32px -22px;}
.ico-flags.bd{background-position:-32px -44px;}
.ico-flags.be{background-position:-32px -55px;}
.ico-flags.bf{background-position:-32px -66px;}
.ico-flags.bg{background-position:-32px -77px;}
.ico-flags.bh{background-position:-32px -88px;}
.ico-flags.bi{background-position:-32px -99px;}
.ico-flags.bj{background-position:-32px -110px;}
.ico-flags.bl{background-position:-32px -132px;}
.ico-flags.bm{background-position:-32px -143px;}
.ico-flags.bn{background-position:-32px -154px;}
.ico-flags.bo{background-position:-32px -165px;}
.ico-flags.br{background-position:-32px -198px;}
.ico-flags.bs{background-position:-32px -209px;}
.ico-flags.bt{background-position:-32px -220px;}
.ico-flags.bv{background-position:-32px -242px;}
.ico-flags.bw{background-position:-32px -253px;}
.ico-flags.by{background-position:-32px -275px;}
.ico-flags.bz{background-position:-32px -286px;}
.ico-flags.ca{background-position:-48px -11px;}
.ico-flags.cc{background-position:-48px -33px;}
.ico-flags.cd{background-position:-48px -44px;}
.ico-flags.cf{background-position:-48px -66px;}
.ico-flags.cg{background-position:-48px -77px;}
.ico-flags.ch{background-position:-48px -88px;}
.ico-flags.ci{background-position:-48px -99px;}
.ico-flags.ck{background-position:-48px -121px;}
.ico-flags.cl{background-position:-48px -132px;}
.ico-flags.cm{background-position:-48px -143px;}
.ico-flags.cn{background-position:-48px -154px;}
.ico-flags.co{background-position:-48px -165px;}
.ico-flags.cr{background-position:-48px -198px;}
.ico-flags.cu{background-position:-48px -231px;}
.ico-flags.cv{background-position:-48px -242px;}
.ico-flags.cx{background-position:-48px -264px;}
.ico-flags.cy{background-position:-48px -275px;}
.ico-flags.cz{background-position:-48px -286px;}
.ico-flags.de{background-position:-64px -55px;}
.ico-flags.dj{background-position:-64px -110px;}
.ico-flags.dk{background-position:-64px -121px;}
.ico-flags.dm{background-position:-64px -143px;}
.ico-flags.do{background-position:-64px -165px;}
.ico-flags.dz{background-position:-64px -286px;}
.ico-flags.ec{background-position:-80px -33px;}
.ico-flags.ee{background-position:-80px -55px;}
.ico-flags.eg{background-position:-80px -77px;}
.ico-flags.eh{background-position:-80px -88px;}
.ico-flags.er{background-position:-80px -198px;}
.ico-flags.es{background-position:-80px -209px;}
.ico-flags.et{background-position:-80px -220px;}
.ico-flags.fi{background-position:-96px -99px;}
.ico-flags.fj{background-position:-96px -110px;}
.ico-flags.fk{background-position:-96px -121px;}
.ico-flags.fm{background-position:-96px -143px;}
.ico-flags.fo{background-position:-96px -165px;}
.ico-flags.fr{background-position:-96px -198px;}
.ico-flags.ga{background-position:-112px -11px;}
.ico-flags.gb{background-position:-112px -22px;}
.ico-flags.gd{background-position:-112px -44px;}
.ico-flags.ge{background-position:-112px -55px;}
.ico-flags.gf{background-position:-112px -66px;}
.ico-flags.gg{background-position:-112px -77px;}
.ico-flags.gh{background-position:-112px -88px;}
.ico-flags.gi{background-position:-112px -99px;}
.ico-flags.gl{background-position:-112px -132px;}
.ico-flags.gm{background-position:-112px -143px;}
.ico-flags.gn{background-position:-112px -154px;}
.ico-flags.gp{background-position:-112px -176px;}
.ico-flags.gq{background-position:-112px -187px;}
.ico-flags.gr{background-position:-112px -198px;}
.ico-flags.gs{background-position:-112px -209px;}
.ico-flags.gt{background-position:-112px -220px;}
.ico-flags.gu{background-position:-112px -231px;}
.ico-flags.gw{background-position:-112px -253px;}
.ico-flags.gy{background-position:-112px -275px;}
.ico-flags.hk{background-position:-128px -121px;}
.ico-flags.hm{background-position:-128px -143px;}
.ico-flags.hn{background-position:-128px -154px;}
.ico-flags.hr{background-position:-128px -198px;}
.ico-flags.ht{background-position:-128px -220px;}
.ico-flags.hu{background-position:-128px -231px;}
.ico-flags.id{background-position:-144px -44px;}
.ico-flags.ie{background-position:-144px -55px;}
.ico-flags.il{background-position:-144px -132px;}
.ico-flags.im{background-position:-144px -143px;}
.ico-flags.in{background-position:-144px -154px;}
.ico-flags.io{background-position:-144px -165px;}
.ico-flags.iq{background-position:-144px -187px;}
.ico-flags.ir{background-position:-144px -198px;}
.ico-flags.is{background-position:-144px -209px;}
.ico-flags.it{background-position:-144px -220px;}
.ico-flags.je{background-position:-160px -55px;}
.ico-flags.jm{background-position:-160px -143px;}
.ico-flags.jo{background-position:-160px -165px;}
.ico-flags.jp{background-position:-160px -176px;}
.ico-flags.ke{background-position:-176px -55px;}
.ico-flags.kg{background-position:-176px -77px;}
.ico-flags.kh{background-position:-176px -88px;}
.ico-flags.ki{background-position:-176px -99px;}
.ico-flags.km{background-position:-176px -143px;}
.ico-flags.kn{background-position:-176px -154px;}
.ico-flags.kp{background-position:-176px -176px;}
.ico-flags.kr{background-position:-176px -198px;}
.ico-flags.kw{background-position:-176px -253px;}
.ico-flags.ky{background-position:-176px -275px;}
.ico-flags.kz{background-position:-176px -286px;}
.ico-flags.la{background-position:-192px -11px;}
.ico-flags.lb{background-position:-192px -22px;}
.ico-flags.lc{background-position:-192px -33px;}
.ico-flags.li{background-position:-192px -99px;}
.ico-flags.lk{background-position:-192px -121px;}
.ico-flags.lr{background-position:-192px -198px;}
.ico-flags.ls{background-position:-192px -209px;}
.ico-flags.lt{background-position:-192px -220px;}
.ico-flags.lu{background-position:-192px -231px;}
.ico-flags.lv{background-position:-192px -242px;}
.ico-flags.ly{background-position:-192px -275px;}
.ico-flags.ma{background-position:-208px -11px;}
.ico-flags.mc{background-position:-208px -33px;}
.ico-flags.md{background-position:-208px -44px;}
.ico-flags.mf{background-position:-208px -66px;}
.ico-flags.mg{background-position:-208px -77px;}
.ico-flags.mh{background-position:-208px -88px;}
.ico-flags.mk{background-position:-208px -121px;}
.ico-flags.ml{background-position:-208px -132px;}
.ico-flags.mm{background-position:-208px -143px;}
.ico-flags.mn{background-position:-208px -154px;}
.ico-flags.mo{background-position:-208px -165px;}
.ico-flags.mp{background-position:-208px -176px;}
.ico-flags.mq{background-position:-208px -187px;}
.ico-flags.mr{background-position:-208px -198px;}
.ico-flags.ms{background-position:-208px -209px;}
.ico-flags.mt{background-position:-208px -220px;}
.ico-flags.mu{background-position:-208px -231px;}
.ico-flags.mv{background-position:-208px -242px;}
.ico-flags.mw{background-position:-208px -253px;}
.ico-flags.mx{background-position:-208px -264px;}
.ico-flags.my{background-position:-208px -275px;}
.ico-flags.mz{background-position:-208px -286px;}
.ico-flags.na{background-position:-224px -11px;}
.ico-flags.nc{background-position:-224px -33px;}
.ico-flags.ne{background-position:-224px -55px;}
.ico-flags.nf{background-position:-224px -66px;}
.ico-flags.ng{background-position:-224px -77px;}
.ico-flags.ni{background-position:-224px -99px;}
.ico-flags.nl{background-position:-224px -132px;}
.ico-flags.no{background-position:-224px -165px;}
.ico-flags.np{background-position:-224px -176px;}
.ico-flags.nr{background-position:-224px -198px;}
.ico-flags.nu{background-position:-224px -231px;}
.ico-flags.nz{background-position:-224px -286px;}
.ico-flags.om{background-position:-240px -143px;}
.ico-flags.pa{background-position:-256px -11px;}
.ico-flags.pe{background-position:-256px -55px;}
.ico-flags.pf{background-position:-256px -66px;}
.ico-flags.pg{background-position:-256px -77px;}
.ico-flags.ph{background-position:-256px -88px;}
.ico-flags.pk{background-position:-256px -121px;}
.ico-flags.pl{background-position:-256px -132px;}
.ico-flags.pm{background-position:-256px -143px;}
.ico-flags.pn{background-position:-256px -154px;}
.ico-flags.pr{background-position:-256px -198px;}
.ico-flags.ps{background-position:-256px -209px;}
.ico-flags.pt{background-position:-256px -220px;}
.ico-flags.pw{background-position:-256px -253px;}
.ico-flags.py{background-position:-256px -275px;}
.ico-flags.qa{background-position:-272px -11px;}
.ico-flags.re{background-position:-288px -55px;}
.ico-flags.ro{background-position:-288px -165px;}
.ico-flags.ru{background-position:-288px -231px;}
.ico-flags.rw{background-position:-288px -253px;}
.ico-flags.sa{background-position:-304px -11px;}
.ico-flags.sb{background-position:-304px -22px;}
.ico-flags.sc{background-position:-304px -33px;}
.ico-flags.sd{background-position:-304px -44px;}
.ico-flags.se{background-position:-304px -55px;}
.ico-flags.sg{background-position:-304px -77px;}
.ico-flags.sh{background-position:-304px -88px;}
.ico-flags.si{background-position:-304px -99px;}
.ico-flags.sj{background-position:-304px -110px;}
.ico-flags.sk{background-position:-304px -121px;}
.ico-flags.sl{background-position:-304px -132px;}
.ico-flags.sm{background-position:-304px -143px;}
.ico-flags.sn{background-position:-304px -154px;}
.ico-flags.so{background-position:-304px -165px;}
.ico-flags.sr{background-position:-304px -198px;}
.ico-flags.st{background-position:-304px -220px;}
.ico-flags.sv{background-position:-304px -242px;}
.ico-flags.sy{background-position:-304px -275px;}
.ico-flags.sz{background-position:-304px -286px;}
.ico-flags.tc{background-position:-320px -33px;}
.ico-flags.td{background-position:-320px -44px;}
.ico-flags.tf{background-position:-320px -66px;}
.ico-flags.tg{background-position:-320px -77px;}
.ico-flags.th{background-position:-320px -88px;}
.ico-flags.tj{background-position:-320px -110px;}
.ico-flags.tk{background-position:-320px -121px;}
.ico-flags.tl{background-position:-320px -132px;}
.ico-flags.tm{background-position:-320px -143px;}
.ico-flags.tn{background-position:-320px -154px;}
.ico-flags.to{background-position:-320px -165px;}
.ico-flags.tr{background-position:-320px -198px;}
.ico-flags.tt{background-position:-320px -220px;}
.ico-flags.tv{background-position:-320px -242px;}
.ico-flags.tw{background-position:-320px -253px;}
.ico-flags.tz{background-position:-320px -286px;}
.ico-flags.uk,
.ico-flags.ua{background-position:-336px -11px;}
.ico-flags.ug{background-position:-336px -77px;}
.ico-flags.um{background-position:-336px -143px;}
.ico-flags.us{background-position:-336px -209px;}
.ico-flags.uy{background-position:-336px -275px;}
.ico-flags.uz{background-position:-336px -286px;}
.ico-flags.va{background-position:-352px -11px;}
.ico-flags.vc{background-position:-352px -33px;}
.ico-flags.ve{background-position:-352px -55px;}
.ico-flags.vg{background-position:-352px -77px;}
.ico-flags.vi{background-position:-352px -99px;}
.ico-flags.vn{background-position:-352px -154px;}
.ico-flags.vu{background-position:-352px -231px;}
.ico-flags.wf{background-position:-368px -66px;}
.ico-flags.ws{background-position:-368px -209px;}
.ico-flags.ye{background-position:-400px -55px;}
.ico-flags.yt{background-position:-400px -220px;}
.ico-flags.za{background-position:-416px -11px;}
.ico-flags.zm{background-position:-416px -143px;}
.ico-flags.zw{background-position:-416px -253px;}