.box {
    margin-bottom:10px;
}
.box h4.box-header {
    size:10px;
    padding: 7px 7px;
    margin: 0;
    list-style: none;
    cursor:move;
    font-size: 14px;
    font-weight: 600;
}


.box-content {
    padding:10px;
}

.box-btn {
    float:right;
    margin-left:2px;
    margin-right:2px;
    height: 14px;
    width: 14px;
    text-decoration:none;
    display: block;
    float: right;
    overflow: hidden;
    background-position:center;
    cursor:pointer;
}

.box-btn [class^="icon-"], .box-btn [class*=" icon-"] {
    vertical-align:top;
    margin-top:0px;
}

.box-container-closed {
    display:none;
}

/* Portlets */
.box-placeholder {
    background-color: #f5f5f5;
    border: 1px dashed #DDDDDD;
    display: block;
    /* float: left;*/
    margin-bottom: 13px !important;
    margin-left: 1%;
    margin-right: 0.6%;
}
.box-placeholder * {
    visibility:hidden;
}
.column {
    min-height:20px;
}

.box h4.box-header {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.box .box-container-toggle {
    border-left:1px solid #DDD;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.box-btn {
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}
