<link rel="stylesheet" type="text/css" href="/less.php/Components/Seo/assets/less/panel.less" />

<div id="seoModal" class="modal" ng-show="showSeo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h4 class="modal-title">Page settings</h4>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" id="seo-settings">
            <li class="active"><a href="#general" data-toggle="tab">General</a></li>
            <li><a href="#page" data-toggle="tab">Page</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Page title'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                        <input type="text" ng-model="pageSeo.title" />
                        <span class="help-block">Site Title to appear at the top in the administration panel</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Page keywords'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                        <input type="text" ng-model="pageSeo.keywords" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Page description'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                        <textarea ng-model="pageSeo.description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Variables'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                <span ng-repeat="(name, value) in metainfo.seo_vars">
                    {[name]}: {[value]}
                </span>
                    </div>
                </div>
                <div class="control-group">
                    <button class="btn" ng-click="savePage()">Save</button>
                </div>
            </div>
            <div class="tab-pane" id="page">
                <p><b>{[route.name]}</b></p>
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Page title'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                        <input type="text" ng-model="route.title"/>
                        <span class="help-block">Site Title to appear at the top in the administration panel</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Page keywords'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                        <input type="text" ng-model="route.keywords"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">{[ 'Page description'|translate:'AdminPanel' ]}</label>
                    <div class="controls">
                        <textarea ng-model="route.description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <button class="btn" ng-click="saveRoute()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>