.bz-table-order {
    width: 50px
}
.bz-table .langs {
    float: right
}

.bz-table-column-publish,
.bz-table-column-checkbox {
    text-align: center;
    vertical-align: middle;
}

.bz-table-column-checkbox {
    padding: 0;
    cursor: pointer;
}
.bz-table .bz-table-column-checkbox-label {
    padding: 10px;
    display: inline;
}
.bz-table.table th, .bz-table.table td  {
    vertical-align: middle;
}