.column{
	width:79%;
	margin-right:.5%;
	min-height:300px;
	float:left;
}
.column1{
	width:19%;
}
.column2{
	width:49%;
}
.column .dragbox{
	margin:5px 2px 12px;
	background:#fff;
	position:relative;
	border:1px solid #ddd;
}
.column .dragbox h2{
	margin:0;
	font-size:12px;
	padding:5px;
    line-height: 100%;
	/*background:#FCFCFC;*/
	color: #2E6E9E;
	font-family:Verdana;
    font-weight: normal;
	cursor:move;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
}
.dragbox-content{
    background:#fff;
    min-height:100px;
    font-family:'Lucida Grande', Verdana;
    font-size:12px;
    line-height: 1;
}
.column  .placeholder{
	background: #FCFCFC;
	border:1px dashed #ddd;
	margin:5px 2px 12px;
}
.dragbox h2.collapse{
    border-bottom: 0;
}

.dragbox h2 .ui-panel-icon, .dragbox h2 a.ui-panel-icon {
	float:right;
}
.dragbox h2 a.ui-panel-icon {
	width: 16px;
	height: 16px;
	margin-top: -2px;
	margin-right: 1px;
	display:block;
}