<ul class="breadcrumb">
<li><a href="/">Ads</a> <span class="divider">/</span></li>
<li ng-show="campaign.id"><a href="/campaign{[campaign.id]}">{[campaign.title]}</a> <span class="divider">/</span></li>
<li class="active">{[advertisement.title|default:'New advertisement']}</li>
</ul>

<form class="form-horizontal" ng-submit="addAdvertisement(advertisement)">

    <div class="row">
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" ng-model="advertisement.title" maxlength="25" id="title" />
                    <div class="help-block">Characters left: {[25-advertisement.title.length]}</div>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea class="input-xlarge" ng-model="advertisement.description" maxlength="60" id="description"></textarea>
                    <div class="help-block">Characters left: {[60-advertisement.description.length]}</div>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <div class="fileupload fileupload-new">
                      <div class="input-append">
                        <div class="fileupload-name-holder">
                        <div class="uneditable-input span3">
                            <i ng-show="advertisement.image" class="icon-file fileupload-exists"></i>
                            <span class="fileupload-preview">{[advertisement.image]}</span>
                        </div>
                        <span class="btn btn-file">
                            <span ng-show="!advertisement.image" class="fileupload-new">Select file</span>
                            <span ng-show="advertisement.image" class="fileupload-exists">Change</span>
                            <input type="file" ng-upload="advertisement.image" accept="*.gif" name="file1" />
                        </span>
                        </div>
                        <a href="#" ng-show="advertisement.image" ng-click="advertisement.image=null" class="btn fileupload-exists">Remove</a>
                      </div>
                    </div>
                </div>
            </div>
            <img ng-show="advertisement.image" ng-src="/thumb.php?file={[advertisement.image]}&w=240&h=400" />
            
            <div class="control-group">
                <label class="control-label" for="bid">
                    Bid
                    <help> 
                    Чим більша сума ставки тим частіше буде показуватись банер
                    </help>
                </label>
                <div class="controls">
                    <input ng-model="advertisement.bid" min="0.01" id="bid" type="text" />
                    <div ng-show="avg_bid > 0" class="help-block">Recomended bid:
                        <a ng-click="advertisement.bid=avg_bid" href="javascript:;">{[avg_bid]}</a>
                        ..
                        <a ng-click="advertisement.bid=max_bid" href="javascript:;">{[max_bid]}</a>
                    </div>
                </div>
            </div>
            
            <fieldset>
                <legend>Campaign</legend>
                <div class="control-group">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" name="campaign" ng-model="campaign.type" value="exists" /> Choose exists
                        </label>
                        <label class="radio">
                            <input type="radio" name="campaign" ng-model="campaign.type" value="new" /> Create new
                        </label>
                    </div>
                </div>
                <div class="control-group" ng-show="campaign.type=='exists'">
                    <label class="control-label" for="campaign">Campaign</label>
                    <div class="controls">
                        <select ng-model="advertisement.campaign_id" ng-options="camp.id as camp.title for camp in campaigns" id="campaign"></select>
                    </div>
                </div>
                <div class="control-group" ng-show="campaign.type=='new'">
                    <label class="control-label" for="campaignTitle">Campaign title</label>
                    <div class="controls">
                        <input type="text" ng-model="advertisement.campaign.title" id="campaignTitle" placeholder="Enter name of new campaign" />
                    </div>
                </div>
            </fieldset>
        </div>
        
        <div class="span4">
            <a class="b-ads">
                <span>
                    <span class="b-ads_title">{[ advertisement.title|default:'Ad example' ]}</span>
                    <span class="b-ads_description">{[ advertisement.description|default:'Description example' ]}</span>
                </span>
            </a>
        
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="button" class="btn" ng-click="cancel()" value="Cancel" />
    </div>
</form>