<ul class="breadcrumb">
<li class="active">Ads</li>
</ul>

<div class="page-header">
<h1>
    Personal profile
    <input ng-click="addAdvertisement()" class="btn btn-primary" type="submit" value="Add ads">
</h1>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Status</th>
            <th>Showing</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody ng:repeat="campaign in campaigns">
        <tr>
            <td colspan="5"><a href="/campaign{[campaign.id]}">{[campaign.title]}</a></td>
        </tr>
    <tbody>
</table>