<div class="row">
    <div class="span7">
		<div class="slogan-unit">
			<div>Ми рекламуємо все<span>крім конкурентів :)</span></div>
		</div>
    </div>
    <div class="span5">
        <div ng-show="!$user.authorized()">
        <tabs>
            <pane heading="Вхід">
                <div ng-include="'/themes/default/partials/login.html'"></div>
            </pane>
            <pane heading="Вхід для партнерів">
                <div ng-include="'/themes/default/partials/login.html'"></div>
            </pane>
            <pane heading="Реєстрація">
                <div ng-include="'/themes/default/partials/registration.html'"></div>
            </pane>
        </tabs>
        </div>
        <div ng-show="$user.authorized()">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Showing</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody ng:repeat="campaign in campaigns">
                    <tr>
                        <td colspan="5"><a href="/campaign{[campaign.id]}">{[campaign.title]}</a></td>
                    </tr>
                <tbody>
            </table>

        </div>
    
        
    
    </div>
</div>

<div class="alert alert-block">
	<h4>Спробуйте прямо зараз!
		<a href="{% url 'Ad.Add' %}" class="btn btn-large pull-right">Створити рекламне оголошення</a>
	</h4>
	<p>Та отримайте бонус</p>
</div>

<div class="row">
    <div class="span6">
        <h1>Про наш сервіс</h1>

        <p>
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту. Тут буде купа цікавого тексту.
        </p>
    </div>
    <div class="span3">

        <div class="ad">
            <a href="#" target="_blank">
                <span class="title">New Year Tree</span>

                <span class="image">
                <img src="http://cs403820.vk.me/u16994870/75628422/s_fb49efa19fx:001.jpg" />
                </span>

                <span class="description">Багато чудових подарунків</span>
            </a>
            <a class="provider" href="http://ads.mistinfo.com/" target="_blank">
                <span class="link"><i class="icon-info-sign"></i> Реклама від <span>Ads.Mistinfo.com</span></span>
            </a>
        </div>

    </div>
        <div class="span3">

        <div class="ad">
            <div class="bg">
                ada
            </div>
        </div>

    </div>
</div>