<div ng-controller="MenuSettingsCtrl" loading-container="loading">

    <div>
        <label>Назва пункту меню</label>
        <input type="text" focus-me="child.focus" placeholder="Input text"
               ng-model="child.title[languages.current]"/>
    </div>
    <div class="help-block">
        <a href="javascript:;" ng-hide="child.description[languages.current] != null"
           ng-click="addDescription(child, languages.current)" class="label">Add
            description</a>
        <a href="javascript:;" ng-hide="child.config.css != null"
           ng-click="child.config.css = '';" class="label">Add CSS Class</a>
    </div>
    <div ng-show="child.description[languages.current] != null">
        <label>Опис пункту меню</label>
        <input type="text" placeholder="Input text"
               ng-model="child.description[languages.current]"/>
    </div>

    <div ng-show="child.config.css != null">
        <label>CSS Class</label>
        <input type="text" placeholder="Enter valid css class"
               ng-model="child.config.css"/>
    </div>

    <label>Тип пункту меню:</label>
    <select ng-change="changeMenuType(child)" ng-options="type.class as type.title group by type.component_title for type in menuTypes" ng-model="child.menuType"></select>

    <div class="menu-settings-external clearfix" data-title="{['Settings'|translate:'Menu']}" ng-show="child.settings" raw="child.settings"></div>
    <legend></legend>

    <div class="text-center">
        <button class="btn btn-primary" ng-click="saveItem(child)">Save</button>
        <button class="btn btn-link">Cancel</button>
    </div>
</div>