html { margin-top: 28px !important; position: relative; }
* html body { margin-top: 28px !important; position: relative; }




/* Panel */


#bz-admin-bar *{height:auto;width:auto;margin:0;padding:0;position:static;text-transform:none;letter-spacing:normal;line-height:1;}
#bz-admin-bar :before,#bz-admin-bar :after{content:normal;}
#bz-admin-bar a,#bz-admin-bar a:hover,#bz-admin-bar a img,#bz-admin-bar a img:hover{outline:none;border:none;text-decoration:none;background:none;}
#bz-admin-bar{
    border-bottom: 1px solid #C6D9E9;
    direction:ltr;
    background-color: #DFEFFC;
    background-image:-moz-linear-gradient(bottom,#C5DBEC,#DFEFFC);
    background-image:-webkit-gradient(linear,left bottom,left top,from(#C5DBEC),to(#DFEFFC));
    color:#1B75BB;
    font:normal 12px/28px Arial,Helvetica,sans-serif;
    height:28px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:99999;
    min-width:960px;
}
#bz-admin-bar ul,#bz-admin-bar ul li{background:none;list-style:none;margin:0;padding:0;position:relative;z-index:99999;}
#bz-admin-bar .quicklinks ul{text-align:left;}
#bz-admin-bar .quicklinks ul li{float:left;}
#bz-admin-bar .quicklinks>ul>li>a{border-right:1px solid #C5DBEC;}
#bz-admin-bar .quicklinks>ul>li:last-child>a{border-right:none;}
#bz-admin-bar .quicklinks>ul>li:hover>a{border-left-color:#707070;}
#bz-admin-bar .quicklinks a,#bz-admin-bar .shortlink-input{color:#1B75BB;height:28px;display:block;font:normal 13px/28px Arial,Helvetica,sans-serif;padding:0 .85em;margin:0;}
#bz-admin-bar .quicklinks a>span{line-height:28px;}

#bz-admin-bar .quicklinks .menupop ul,#bz-admin-bar .shortlink-input {
margin-left: -1px;
    -moz-box-shadow:0 4px 8px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 4px 8px rgba(0,0,0,0.1);
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    background:#fff;
    background:rgba(255,255,255,0.97);
    display:none;position:absolute;
    border:1px solid #dfdfdf;
    border-top:none;
    float:none;
    z-index: 2147483647;
}
#bz-admin-bar .selected .shortlink-input{display:block;}
#bz-admin-bar .quicklinks .menupop ul li{float:none;}
#bz-admin-bar .quicklinks .menupop ul li a,#bz-admin-bar .shortlink-input{color:#1B75BB;text-shadow:none;white-space:nowrap;min-width:140px;}
#bz-admin-bar .shortlink-input{width:200px;}

#bz-admin-bar .quicklinks li:hover>ul,#bz-admin-bar .quicklinks li.hover>ul{display:block;}
#bz-admin-bar .quicklinks .menupop li:hover>ul,#bz-admin-bar .quicklinks .menupop li.hover>ul{margin-left:100%;margin-top:-28px;}
#bz-admin-bar .quicklinks li:hover,#bz-admin-bar .quicklinks .selected{
    background:#C5DBEC;
    background:-moz-linear-gradient(bottom,#C5DBEC,#D7E9FB);
    background:-webkit-gradient(linear,left bottom,left top,from(#C5DBEC),to(#D7E9FB));
 }
#bz-admin-bar .quicklinks .menupop li:hover {
    background:#C5DBEC;
    background:-moz-linear-gradient(bottom,#C5DBEC,#D7E9FB);
    background:-webkit-gradient(linear,left bottom,left top,from(#C5DBEC),to(#D7E9FB));
}
#bz-admin-bar .quicklinks .menupop a>span {
    display:inline;
    padding: 0 .4em;
}
#bz-admin-bar .quicklinks .menupop a > span.ui-icon {
    display:inline-block;
    padding: 0;
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
}
#bz-admin-bar .quicklinks .menupop ul li a>span {
    display:block;
    padding-right:1.5em;
}
#bz-admin-bar .quicklinks a span.update-count {
    background:#D54E21;
    color:#FFF;
    text-shadow:none;
    display:inline;
    padding:2px 5px;
    font-size:10px;
    font-weight:bold;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

#bz-admin-bar .quicklinks .menupop li a img.blavatar{vertical-align:middle;margin:0 8px 0 0;padding:0;}

* html #bz-admin-bar{overflow:hidden;position:absolute;}
* html #bz-admin-bar .quicklinks ul li a{float:left;}
* html #bz-admin-bar .menupop a span{background-image:none;}

#bz-admin-bar .quicklinks li.bz-adminpanel-toggle {

}
#bz-admin-bar .quicklinks li.bz-adminpanel-toggle.bz-adminpanel-active {
    background:#C5DBEC;
    background:-moz-linear-gradient(bottom,#D7E9FB,#C5DBEC);
    background:-webkit-gradient(linear,left bottom,left top,to(#D7E9FB),from(#C5DBEC));
}
#bz-admin-bar .quicklinks li.bz-adminpanel-toggle.bz-adminpanel-active a span {
    font-weight: bold;
}
#bz-admin-bar span.ico-flags {
    width: 16px;
    height: 11px;
    padding: 0 !important;
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}