<link rel="stylesheet" type="text/css" href="/less.php/Components/Pages/assets/less/admin.less"/>

<div class="page-header">
    <div class="row">
        <div class="col-span-3">
            <h2>{['Shop'|translate:'Shop']}</h2>
        </div>
        <div class="col-span-9 text-left">
                <button ng-click="savePage(page)" class="btn btn-primary">{['Save'|translate:'Shop']}</button>
                <button ng-click="cancel()" class="btn btn-link">{['Cancel'|translate:'Shop']}</button>
        </div>
    </div>
</div>

<div class="row" loading-container="loading">

    <div class="col-span-3 page-settings">
        <div class="control-group">
            <div class="controls">
                <label>{['Category'|translate:'Shop']}</label>
                <div class="bz-form-element">
                    <select ng-model="page.category_id" ng-options="category.id as category.title for category in categories"></select>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label>{['Price'|translate:'Shop']}</label>
                <div class="bz-form-element">
                    <input type="text" ng-model="page.price" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label>{['Code'|translate:'Shop']}</label>
                <div class="bz-form-element">
                    <input type="text" ng-model="page.code" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" bz-switcher ng-model="page.is_published"> {['Is published'|translate:'Shop']}
                </label>
            </div>
        </div>


        <ul class="nav nav-tabs" id="tab-page-settings">
            <li class="active"><a href="#photo" data-toggle="tab">{['Images'|translate:'Shop']}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="photo">
                <div class="well photo-uploader ng-cloak">
                    <p>{['Browse for files to upload or drag and drop them here'|translate:'Shop']}</p>
                    <input type="file" multiple bz-uploader="addImage(page, $file)" data-url="/rest.php/shop/images/" data-max-file-size="100mb" ng-model="page.images" accept="*.gif,*.png,*.jpg,*.jpeg" name="file1"/>
                </div>
                <div class="clearfix uploaded-photo">
                    <a ng-repeat="image in page.images" class="col-span-2 thumbnail" href="">
                        <img ng-src="{[image.url]}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-9 page-editor">
        <form>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li ng-repeat="language in languages.all" ng-class="{'active': languages.current == language.id}">
                        <a href="" ng-click="languages.current = language.id">{[language.title]}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" ng-repeat="language in languages.all" ng-class="{'active in': languages.current == language.id}">
                        <div class="control-group">
                            <label class="control-label" for="title">{['Title'|translate:'Shop']}</label>
                            <div class="controls">
                                <input class="input-block input-xlarge" type="text" id="title" placeholder="" required ng-model="page.title[language.id]"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="description">{['Content'|translate:'Shop']}</label>
                            <div class="controls">
                                <textarea ckeditor required ng-model="page.description[language.id]" id="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions text-center">
                <button ng-click="savePage(page)" class="btn btn-primary">{['Save'|translate:'Shop']}</button>
                <button ng-click="cancel()" class="btn btn-link">{['Cancel'|translate:'Shop']}</button>
            </div>
        </form>
    </div>
</div>