<div ng-controller="CategoriesCtrl" class="categories-list edit">
    <div class="page-header">
        <h2 class="">
            {['Categories'|translate:'Pages']}
            <button ng-click="addCategory(category)" class="btn btn-success" translate="News">
                <i class="glyphicon glyphicon-plus"></i>
                {['Add new category'|translate:'News']}
            </button>
            <a class="btn btn-primary pull-right close-edit visible-phone" ng-show="edit_categories" href="javascript:;" ng-click="toggleEdit()">Close editing</a>
        </h2>
        <div class="clearfix"></div>
    </div>

    <div class="col-span-9" loading-container="loading">
        <div class="live edit-main-menu edit-category">
            <ol class="nav nav-nested editable" tree-view-sortable="category" tree-view-move="move($item, $before, $index)">
                <li tree-view="child in category.children at ol" ng-class="{expanded:child.$expanded}">
                    <div>
                        <a href="javascript:;" ng-click="child.$expanded = !child.$expanded" ng-switch on="child.$expanded">
                            <span ng-show="child.children.length" ng-switch-when="true">&#x25BC;</span>
                            <span ng-show="child.children.length" ng-switch-default>&#x25B6;</span>
                        </a>

                        <div class="item-content" ng-class="{'expanded':child.$settings}">
                            <div class="btn-group btn-group-justified with-btn">
                                <a href="javascript:;" class="btn title-item-menu" ng-class="{'btn-primary':child.is_publish}">
                                    {[child.title|language|default:'&nbsp;']}
                                </a>
                                <!--a class="btn" ng-click="child.is_publish = !child.is_publish; updateItem(child)" ng-class="{'btn-primary active':child.is_publish}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a-->
                                <a class="btn" ng-click="addCategory(child)" ng-class="{'btn-primary':child.is_publish}"><span class="glyphicon glyphicon-plus"></span></a>
                                <a class="btn" ng-class="{'btn-primary':child.is_publish}" placement="right" title="Видалення" href="javascript:;"
                                   confirm-button="remove(child)" message="Ви дійно бажаєте видалити елемент меню?" yes="Так"
                                   no="Ні"><span class="glyphicon glyphicon-trash"></span>
                                </a>
                                <a class="btn" ng-class="{'btn-primary':child.is_publish, 'active': child.$settings}"
                                   ng-click="child.$settings = !child.$settings; child.focus = child.showsettings"><span
                                        class="glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                            <div class="details" ng-show="child.$settings">
                                <div>
                                    <label>Назва категорії</label>
                                    <input type="text" focus-me="child.focus" placeholder="Input text"
                                           ng-model="child.title[languages.current]"/>
                                </div>
                                <div class="help-block">
                                    <a href="javascript:;" ng-hide="child.config.css != null"
                                       ng-click="child.config.css = '';" class="label">Add CSS Class</a>
                                </div>

                                <div class="bz-form-row" ng-show="child.config.css != null">
                                    <label>CSS Class</label>
                                    <input type="text" placeholder="Enter valid css class"
                                           ng-model="child.config.css"/>
                                </div>

                                <div class="bz-form-row">
                                    <label>Опис категорії</label>
                                    <textarea style="height: 200px" class="input-block" id="body" placeholder=""></textarea>
                                </div>

                                <div class="clearfix"></div>
                                <legend></legend>

                                <div class="text-center">
                                    <button class="btn btn-primary" ng-click="child.$save()">Save</button>
                                    <button class="btn btn-link">Cancel</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <ol></ol>
                </li>
            </ol>
        </div>
    </div>
</div>