<link rel="stylesheet" type="text/css" href="/assets/modules/bootstrap-tree/css/bootstrap-tree.css" media="all">
<link rel="stylesheet" type="text/css" href="../../../../less.php/App/Admin/assets/less/nav-nested_edit.less" />


<div class="page-header">
    <div class="row">
        <div class="col-span-3">
            <button class="btn btn-primary pull-right edit-category" ng-hide="edit_categories" ng-click="edit_categories = true">Edit categories</button>
            <h2>{['Pages'|translate:'Pages']}</h2>
        </div>
        <div class="col-span-9">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="#!/pages/create/" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> {['Add new page'|translate:'Pages']}</a>
                </div>
                <div class="btn-group" ng-show="checked().length">
                    <button class="btn btn-danger" ng-disabled="!checked().length"><span class="glyphicon glyphicon-trash glyphicon glyphicon-white"></span> {['Delete'|translate:'Pages']} <span ng-show="checked().length" class="badge">{[checked().length]}</span></button>
                </div>

                <div class="btn-filter btn-group pull-right">
                    <button class="btn" ng-class="{ 'active': filter.active }" ng-click="filter.active = !filter.active"><i class="glyphicon glyphicon-filter"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-span-3">
        <div loading-container="loading.category">
            <div class="nav-header">{['Categories'|translate:'Pages']}</div>
            <ol class="nav nav-nested">
                <li tree-view="child in category.children at ol" ng-class="{expanded:child.$expanded, 'active':child.id == activeCategory.id}">
                    <div>
                        <a href="javascript:;" ng-click="child.$expanded = !child.$expanded" ng-switch on="child.$expanded">
                            <span ng-show="child.children.length"  ng-switch-when="true">&#x25BC;</span>
                            <span ng-show="child.children.length" ng-switch-default>&#x25B6;</span>
                        </a>

                        <a href="javascript:;" ng-click="filterByCategory(child)">
                            {[child.title|language|default:'&nbsp;']}
                        </a>
                    </div>
                    <ol class="nav nav-nested"></ol>
                </li>
            </ol>
        </div>
    </div>

    <div class="col-span-9" loading-container="loading.pages">
        <table ng-table="update" pager="pages.pager" class="table-striped table-condensed table-hover">
            <tr ng-repeat="page in pages.data">
                <td width="20">
                    <input type="checkbox" ng-model="page.checked" />
                </td>
                <td sortable="title" filter="{ 'title': 'text' }" title="Заголовок">
                    <a href="#!/pages/edit{[page.id]}">{[page.title|language]}</a>
                </td>
                <td filter="{ 'user_id': 'select' }" sortable="user_id" width="140" title="Автор">
                    {[page.user]}
                </td>
                <td filter="{ 'created_at': 'date' }" sortable="created_at" width="140" title="Дата створення" class="text-center">
                    {[page.created_at|date:'yyyy-MM-dd']}<br/>
                    {[page.created_at|date:'HH:mm:ss']}
                </td>
                <td sortable="publish" width="130" title="Опубликовано">
                    <div class="s-witch">
                        <input type="checkbox" ng-model="page.publish">
                    </div>
                </td>
                <td filter="{ 'action': 'button' }" width="95" title="Дії" class="text-center">
                    <div class="btn-group">
                        <a target="_blank" ng-href="{[page.url]}" class="btn"><span class="glyphicon glyphicon-link glyphicon"></span></a>
                        <button ng-click="delete(column)" class="btn btn-danger"><span class="glyphicon glyphicon-trash glyphicon"></span></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="locked" ng-show="edit_categories">


    <div class="row">
        <div class="col-span-3">
            <div class="locked-content">
                <a class="btn btn-primary pull-right close-edit" href="javascript:;" ng-click="edit_categories = false">Close editing</a>
            </div>
        </div>

        <div class="col-span-9" loading-container="loading">
            <div class="modal-content locked-content" ng-include="'/Components/Pages/views/admin/categories.html'"></div>
        </div>
    </div>


    <div class="backdrop"></div>
</div>