<h4>Base style</h4>

<div class="one-settings">
    Background color:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.bodyBackground]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.bodyBackground" />
    </div>
</div>

<div class="one-settings">
    Text color:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.textColor]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.textColor" />
    </div>
</div>

<div class="one-settings">
    Link color:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.linkColor]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.linkColor" />
    </div>
</div>

<div class="one-settings">
    Link color hover:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.linkColorHover]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.linkColorHover" />
    </div>
</div>

<div class="one-settings">
    Font-size:
    <input type="text" ng-model="theme.settings.baseFontSize" />
</div>

<br />
<h4>Navigation style</h4>

<div class="one-settings">
    Link color:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.navbarLinkColor]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.navbarLinkColor" />
    </div>
</div>

<div class="one-settings">
    Link color hover:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.navbarLinkColorHover]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.navbarLinkColorHover" />
    </div>
</div>

<div class="one-settings">
    Link color active:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.navbarLinkColorActive]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.navbarLinkColorActive" />
    </div>
</div>

<div class="one-settings">
    Link background color hover:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.navbarLinkBackgroundHover]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.navbarLinkBackgroundHover" />
    </div>
</div>

<div class="one-settings">
    Link background color active:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.navbarLinkBackgroundActive]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.navbarLinkBackgroundActive" />
    </div>
</div>

<br />
<h4>Table style</h4>

<div class="one-settings">
    Background color:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.tableBackground]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.tableBackground" />
    </div>
</div>

<div class="one-settings">
    Border color:
    <div class="input-group color col col-lg-9">
        <span class="input-group-addon"><i style="background-color: {[theme.settings.tableBorder]}"></i></span>
        <input type="text" colorpicker ng-model="theme.settings.tableBorder" />
    </div>
</div>



















