Background color:
<div class="input-group color col col-lg-9">
  <span class="input-group-addon"><i style="background-color: {[theme.settings.bodyBackground]}"></i></span>
  <input type="text" colorpicker ng-model="theme.settings.bodyBackground" />
</div>

Text color:
<div class="input-group color col col-lg-9">
  <span class="input-group-addon"><i style="background-color: {[theme.settings.textColor]}"></i></span>
  <input type="text" colorpicker ng-model="theme.settings.textColor" />
</div>

Link color:
<div class="input-group color col col-lg-9">
  <span class="input-group-addon"><i style="background-color: {[theme.settings.linkColor]}"></i></span>
  <input type="text" colorpicker ng-model="theme.settings.linkColor" />
</div>
